* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
h1{
  color:white;
  text-align:center;
  font-size: 45px;
  padding-top: 465px;
}
h2{
  color:white;
  font-size:65px;
  text-align: center;
  padding-top: 50px;

}

#containerhtml{
  display: flex;
  align-items: center;
}
p{
  color:white;
  font-size: 20px;
}
h3{
  color:white;
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
}
#jscontainer{
display: flex;
align-items: center;
}
h4{
  color:white;
  font-size:40px;
  text-align: center;
  padding-top: 50px;
}
#phpcontainer{
display: flex;
align-items: center;
}
h5{
  color:white;
  font-size:40px;
  text-align: center;
  padding-top: 50px;
}
#sqlcontainer{
display: flex;
align-items: center;
}